input {
  font-size: medium;
  padding: 3% 2% 3% 5%;
  border: 1px solid rgb(105, 116, 116);
  border-radius: 15px;
  margin-right: 3px;
}

select {
  background-color: rgb(101, 101, 233);
  color: white;
  border-radius: 12px;
  padding: 2% 4% 2% 4%;
  border: 1px solid rgb(80, 177, 201);
  font-size: large;
  transition: all 0.25s ease;
}

select:hover {
  background-color: rgb(138, 138, 255);
}

h1 {
  padding-top: 1%;
}
.exchenger {
  display: flex;
  justify-content: center;
  height: 400px;
}

.exchenger form {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 2%;
  padding-right: 2%;
}

.formExchenge {
  margin-top: 5%;
}

.formExchenge div {
  display: flex;
}

.SELL {
  margin-top: 8%;
}

.ButtonBUY {
  margin-top: 5%;
  margin-left: 25%;
  display: flex;
  justify-content: center;
  font-size: large;
  font-weight: 500;
  color: white;
  width: 40%;
  padding: 2% 3% 2% 3%;
  border-radius: 15px;
  border: 1px solid rgb(3, 3, 3);
  background-color: rgb(101, 101, 233);
  transition: all 0.25s ease;
}

.ButtonBUY:hover {
  color: rgb(190, 242, 255);
  background-color: rgb(133, 133, 233);
  border: 1px solid rgb(58, 58, 58);
}
