.App-header {
  padding: 1% 5% 1% 5%;
  background-color: blue;
  display: flex;
  justify-content: space-between;
}

.price {
  display: flex;
  flex-direction: column;
  /* background-color: black; */
  width: 20%;
  color: white;
}

.price input {
  background-color: aliceblue;
  color: black;
}

.Name {
  color: white;
}
